.panda-bg-info{
    background-color: #fee7cb;
}
.categories img{
    width: 100px;
}
.panda-btn-buynow{
    background-image: linear-gradient(to bottom, #f8458f 0%, #FF136F 100%);;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;

}